.AUTHpage {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .AUTHcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--BACKGROUND);
        border: var(--BORDER_GRAY);
        padding: 5%;
        width: 50%;
    }

        .AUTHtabs {
            display: flex;
            justify-content: end;
            gap: 20px;
            width: 100%;
            margin: 0;
            margin-bottom: 10%;
            background: transparent;
            color: var(--TEXTWHITE);
            font-family: "BOUNDED";
            font-size: 1.5rem;
        }


    .AUTHform {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

        .FORMgroup {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

            .FORMlabel {
                color: var(--ACCENT);
                font-family: "CONSOLAS";
                font-size: 1.3rem;
            }

            .FORMinput {
                background: transparent;
                padding: 15px;
                color: var(--TEXTWHITE);
                font-family: "CONSOLAS";
                font-size: 1rem;
                outline: none;
                transition: 0.2s ease;
                box-sizing: border-box;
                border: var(--BORDER_GRAY);
            }
            
            .FORMinput:focus {
                border-color: var(--ACCENT);
            }
            
            .FORMinput::placeholder {
                color: #666;
            }
            
            .error-message {
                color: red;
                font-family: "CONSOLAS";
                font-size: 0.9rem;
                margin-top: 5px;
                min-height: 20px;
            }



        .FORMsubmit {
            background: transparent;
            color: var(--ACCENT);
            font-family: "BOUNDED";
            font-size: 1.5rem;
            padding: 15px;
            border: var(--BORDER_GREEN);
            cursor: pointer;
            transition: 0.2s ease;
            margin-top: 10px;
        }

            .FORMsubmit:hover {
                background: var(--ACCENT);
                color: var(--TEXTBLACK);
                box-shadow: none;
                transform: scale(1.02);
            }

                .FORMsubmit:active {
                    transform: scale(0.98);
                }


.REGpole{
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--TEXTWHITE);
    font-family: "CONSOLAS";
    gap: 3pt;
    font-size: 1rem;
    margin: 0;
}

    .href{
        color: var(--ACCENT);
        text-decoration: none;
    }

        .href:hover{
            text-decoration:underline;
        }

   