.PANEL{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.SPACE{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
}

    a{
        color: var(--ACCENT);
    }
