:root{
    --BACKGROUNDCOLORALLPAGE: #101010;
    --BACKGROUND: #050505;
    --ACCENT: #2BFF00;
    --ULTRABLACK: #000000;
    --GRAY: #444444;
    --BORDER_VOID: solid 3px #00000000;
    --BORDER_GREEN: solid 3px var(--ACCENT);
    --BORDER_GRAY: solid 2px var(--GRAY);
    --TEXTWHITE: white;
    --TEXTBLACK: black;
}

body{
    background-color: var(--BACKGROUNDCOLORALLPAGE);
    margin: 0;
    overflow-x: hidden;
}


.GLOBALSPATIUM{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 15vh;
    gap: 10%;
}

.ALT_GLOBALSPATIUM{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 15vh;
    width: 79vw;
    height: 100vh;
    padding: 3% 5%;
    box-sizing: border-box;
    gap: 10%;
}

.ZAGL{
    display: flex;
    color: var(--TEXTWHITE);
    font-family: "BOUNDED";
    font-weight: 100;
    font-size: 2.5rem;
    margin-bottom: 100px;
}

.BUTTON_INTERNATIONAL{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 45px;
    font-family: "BOUNDED";
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--TEXTWHITE);
    border: var(--BORDER_GREEN);
    transition: 0.3s ease;
    box-sizing: border-box;
}

    .BUTTON_INTERNATIONAL:active{
        color: var(--TEXTBLACK);
        background: var(--ACCENT);
    }